%h2= "Hi #{@user.full_name},"
%br
%br
%p= "A Yada from #{@capsule.user.full_name} has been sent to you."
%br
%p
  Here is the link to download the app to your phone
  %p= link_to 'https://itunes.apple.com/us/app/106-park/id418612824?mt=8', 'https://itunes.apple.com/us/app/106-park/id418612824?mt=8'
  %br
  Or, you can view the Yada here:
  %p= link_to 'View your Yada!', api_yada_url(@capsule.token, host: ENV['URL_HOST'], protocol: 'https')

%br
%p
  Thanks from the PinYada team!
